<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.risk.dolist">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/donor"
        android:label="Organ Donor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowTaskCause"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegisterUser"
            android:screenOrientation="portrait"/>
    </application>

</manifest>